body {
  max-width: 800px;
}

ol {
  list-style-type: decimal-leading-zero;
}

.entity-ref {
  font-weight: bold;
  text-decoration: underline !important;

  &.organisation {
    color: darkred;
  }
  &.person {
    color: darkgreen;
  }
  &.place {
    color: darkblue;
  }
}

.theme-ref {
  color: white;
  background-color: darkslategray;
}
