ol {
  list-style-type: decimal-leading-zero;
}

.entity-ref {
  font-weight: bold;
  text-decoration: underline !important;
}
.entity-ref.org {
  color: darkred;
}
.entity-ref.person {
  color: darkblue;
}